
.component-contextmenu {

    border: 1px solid #bababa;
    background: #ffffff;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.5);

    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    color: #000000;

    &-list {
        list-style-type: none;
        padding: 2px 0;
        margin: 0;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        cursor: default;
    }

    &-item {
        list-style: none;
        outline: 0;

        padding: 4px 5px;
        margin: 0 -1px;

        &-hover {
            background: #4281f4;
            color: #ffffff;
        }

        &[disabled] {
            color: #a1a192;
        }

        &-expandable {
            &:after {
                content: "";

                float: right;
                margin-right: 2px;

                margin-top: 4px;

                border: 4px solid transparent;
                border-left: 4px solid #7a7a7a;
            }

            .component-contextmenu-item-hover&:after {
                border-left-color: #ffffff;
            }
        }

        &-image {
            float: left;
            margin: 0 5px -21px;

            width: 16px;
            height: 16px;
        }

        &-label {
            display: inline-block;

            margin-left: 12px + 16px + 5px;
            padding-right: 16px;
        }

        clear: both;
    }

    &-separator {
        border: 0;
        border-top: 1px solid #e9e9e9;

        margin: 5px 0;

        height: 0;
        overflow: hidden;
        background: none;
    }
}
