@import "colors";

html, body {
	height: 100%;
	overflow: hidden;

	margin: 0;
	padding: 0;

	//cursor: default;
	
	-webkit-user-select: none;
	user-select: none;
}

img {
	pointer-events: none;
}

button, input {
	background: transparent;

	box-sizing: unset;
	line-height: inherit;

	border: 0;
	margin: 0;
	padding: 0;

	font: inherit;
	cursor: inherit;

	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}

*[tabindex], button, input {
	outline: 0;
}

*[hidden] {
	// NOTE: this somewhat violates the specs. ¯\_(ツ)_/¯
	// https://html.spec.whatwg.org/multipage/interaction.html#the-hidden-attribute
	display: none !important;
}
