@import "../../style/colors";
@import "../../style/constants";

.component-filebar {
	@space-between-buttons: @padding-default;

	background: white;

	cursor: text;

	white-space: nowrap;

	&-frags {
		//font-size: 0;  // hide spaces between frags.

		padding: (@padding-default - @space-between-buttons/2);

		//cursor: text;
	}

	&-frag {
		font-size: 1rem;

		display: inline-block;

		cursor: default;

		margin: @space-between-buttons/2;

		&-name, &-more {
			display: inline-block;

			border: @border-width-default solid transparent;
			padding: (@padding-default - @border-width-default);

			transition: all 200ms ease;
			transition-property: border-color, background;
		}

		&-name {
			max-width: 10em;
			text-overflow: ellipsis;
			overflow: hidden;
			vertical-align: top;
		}

		&-more {
			border-left: 0;

			&:after {
				content: "";

				display: inline-block;
				vertical-align: baseline;

				width: 0.6em;
				height: 0.6em;

				background: url("component/filebar/res/chevron-right.svg") no-repeat;
				background-size: 100%;
				opacity: 0.5;

				transform: rotate(0);
				transition: transform 200ms ease;
			}

			//&:hover, &:focus {
			//	&:after {
			//		transform: rotate(30deg);
			//	}
			//}

			&.active {
				&:after {
					transform: rotate(90deg);
				}
			}
		}

		&:hover {
			.component-filebar-frag-name {
				border-color: fade(@color-highlight, 40%);
				background: fade(@color-highlight, 20%);
			}
		}

		&:focus {
			.component-filebar-frag-name, .component-filebar-frag-more {
				border-color: fade(@color-highlight, 40%);
				background: fade(@color-highlight, 20%);
			}
		}

		&-more:hover {
			border-color: fade(@color-highlight, 40%);
			background: fade(@color-highlight, 20%);
		}
	}

	&-more {
		font-size: 1rem;

		margin: @space-between-buttons/2;

		border: @border-width-default solid transparent;
		padding: (@padding-default - @border-width-default);

		transition: all 200ms ease;
		transition-property: border-color, background;

		cursor: default;

		&:after {
			content: "";

			display: inline-block;
			vertical-align: baseline;

			background: url("component/filebar/res/ellipsis.svg") no-repeat;
			background-position: center;
			background-size: contain;
			opacity: 0.5;

			width: 1.5em;
			height: 0.8em;
		}

		&:hover, &:focus, &.active {
			border-color: fade(@color-highlight, 40%);
			background: fade(@color-highlight, 20%);
		}
	}

	&-text {
		width: 100%;

		padding: (2 * @padding-default);

		font-size: 1rem;
	}
}
