@import "../../style/colors";
@import "../../style/constants";

.component-statusbar {
	background: @color-control;

	padding: @padding-default;

	border-top: @border-width-default solid @color-control-dark;
}
