@import "../../style/colors";
@import "../../style/constants";

.component-toolbar {
	@space-between-buttons: @padding-default;
	@button-size: 2rem;

	display: flex;
	flex-wrap: wrap;
	
	background: @color-control;

	border-bottom: @border-width-default solid @color-control-dark;

	padding: (@padding-default - @space-between-buttons/2);

	button {
		width: @button-size;
		height: @button-size;

		margin: @space-between-buttons/2;

		outline: 0.1rem solid fade(@color-highlight, 0%);
		background: fade(@color-highlight, 0%);

		transition: all 200ms ease;
		transition-property: outline, background;

		img {
			display: block;

			width: 100%;
			height: 100%;

			// filter: none;  // default
			transform: translate(0);

			transition: all 200ms ease;
			transition-property: filter, transform;
		}

		&:hover, &:focus {
			outline: @border-width-default solid fade(@color-highlight, 40%);
			background: fade(@color-highlight, 20%);
		}
		
		&:active {
			img {
				filter: brightness(70%);
				transform: translate(@theme-epsilon, @theme-epsilon);
			}
		}
	}
}
